*{
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 850px;
  height: 150px;
  border: 1px solid black;
  background-color: lightblue;
}

#radio-buttons {
  margin: 20px;
}

input {
  margin-left: 10px;
  text-align: center;
  padding: 10px;

}
