<div id="flight-form" class="container">
  <form action="">
    <div id="radio-buttons" class="radio-buttons">
      <input type="radio" name="type" value="return"> Return
      <input type="radio" name="type" value="one way"> One Way
    </div>
    <div class="input-fields">
      <input type="text" placeholder="Departure City">
      <input type="text" placeholder="Destination City">
      <input type="date" >
      <input type="date">
      <select>
        <option selected disabled value="Passengers">Passengers</option>
        <option value="Adult">Adult</option>
        <option value="Teen">Teen</option>
        <option value="Children">Children</option>
        <option value="Infants">Infants</option>
      </select>
      <input type="submit" value="GO!">
    </div>
  </form>

</div>
