<div class="content">

  <form [formGroup]="flightForm" (ngSubmit)="submitFlightForm(flightForm)">

    <div class="container">
      <input type="radio" class="form-control" name="type" value="return" id="type" required formControlName="type">
      <label>Return</label>
      <input type="radio" class="form-control" name="type" value="oneway" id="type" required formControlName="type">
      <label>One Way</label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Departure City" id="departurecity" required formControlName="departurecity">
      <div *ngIf="flightForm.controls.departurecity.dirty && flightForm.controls.departurecity.hasError('charError')">
        <div class="validation-alert">
          <strong>Only Letters</strong>
        </div>
      </div>

    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Destination City" id="destinationcity" required formControlName="destinationcity">

      <div *ngIf="flightForm.controls.destinationcity.dirty && flightForm.controls.destinationcity.hasError('charError')">
        <div class="validation-alert">
          <strong>Only Letters</strong>
        </div>
      </div>

    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="departuredate" required formControlName="departuredate" placeholder="Date of Departure"
        onfocus="(this.type='date')" onblur="(this.type='text')">
    </div>


    <div class="form-group">

      <input *ngIf="flightForm.controls.type.value=='oneway'" disabled type="text" class="form-control" id="returndate" 
        formControlName="returndate" placeholder="Date of Return" onfocus="(this.type='date')" onblur="(this.type='text')">

      <input *ngIf="flightForm.controls.type.value!='oneway'" type="text" class="form-control" id="returndate" formControlName="returndate"
        placeholder="Date of Return" onfocus="(this.type='date')" onblur="(this.type='text')">
    </div>


    <div class="form-group">
      <select required formControlName="tickettype">
        <option selected disabled value="">Ticket Type</option>
        <option value="Economy">Economy Class</option>
        <option value="Business">Business Class</option>
        <option value="First">First Class</option>
      </select>
    </div>

    <div class="form-group">
      <select required formControlName="passengers">
        <option selected disabled value="">Passengers</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div id="button-div">

      <button type="submit" class="button" >Go!</button>

      <div *ngIf="flightForm.invalid && flightForm.controls.passengers.dirty" id="form-warning">
        <strong>Please fill out all fields</strong>
      </div>

    </div>

  </form>
</div>
